<footer>
	<div class="footer">
		<div class="copyright">
			Copyright © 2020 
			<a href="">Abdulbaasit</a>
		</div>
		<div class="dev-contact">
			<ul>
				<li class="github">Abdulbaasit</li>
				<li class="hire">Hire me</li>
				<li class="link">Bla bla</li>
			</ul>
		</div>
	</div>
</footer>