<aside class="left-nav">
    <h5 class="school-name">Al-Qalam Academy</h5>
    <ul class="navbar nav-tabs">
        <li class="nav-item">
            <span class="link-nav active">School</span>
        </li>
        <li class="nav-item">
            <span class="link-nav">Administrator</span>
        </li>
    </ul>
    <article class="nav-tabs-content">
        <div id="class-menu" class="active fade show"> <!--Check to add show class-->
            <nav class="side-nav">
                <ul class="list-menu">
                    <li>
                        <a href="" class="">
                            <i class="fa fa-dashboard"></i>
                            <span>  Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-black-tie"></i>
                            <span>  Teachers</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-circle-o"></i>
                            <span>  Staff</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-users"></i>
                            <span>  Students</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-users"></i>
                            <span>  Classes</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-graduation-cap"></i>
                            <span>  Subjects</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-library"></i>
                            <span>  Library</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-calendar"></i>
                            <span>  Events</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-folder"></i>
                            <span>  File Manager</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="admin-menu" class="fade"> <!--Check to add show class-->
            <nav class="side-nav">
                <ul class="list-menu">
                    <li>
                        <a href="" class="">
                            <i class="fa fa-credit-card"></i>
                            <span>  Payments</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-task-list-ul"></i>
                            <span>  Taskboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-bed"></i>
                            <span>  Hostel</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-truck"></i>
                            <span>  Transport</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-calendar-check-o"></i>
                            <span>  Attendance</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-gear"></i>
                            <span>  Settings</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </article>
</aside>