<header class="header">
    <div class="cont">
        <div class="left-header">
            <a href="/" class="img-logo">
                <img src="public/img/logo.jpg" class="logo" alt="" srcset="">
            </a>
            <div class="dropdown">
                <span class="icon link-nav">
                    <i class="fas fa-bars"></i>
                </span> 
                <a href="" class="icon link-nav">
                    <i class="inbox far fa-envelope"></i>
                </a>
                <a href="" class="icon phone-hide link-nav">
                    <i class="app-folder fa fa-folder"></i>
                </a>
                <a href="" class="icon phone-hide link-nav">
                    <i class=" share fas fa-share-alt"></i>
                </a>
                <span class="link-nav settingbar">
                <i class="fas fa-cog" style="color: white;"></i>
                </span>
            </div>
        </div>
        <div class="right-header">
            <!-- <span class="link-nav icon">
                <i class="  right-bar"></i>
            </span> -->
            <a href="" class="link-nav icon">
                <i class="fas fa-power-off"></i>
            </a>
        </div>
    </div>
</header>