<section class="page-title">
    <div class="page-title-body">
        <div class="page-title-content">
            <div class="page-title-action">
                <h1 class="page-title-header">Teachers</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Al-Qalam Academy</a>
                    </li>
                    <li class="breadcrumb-item">
                        Teachers
                    </li>
                </ol>
            </div>
            <ul class="page-title-navs">
                <li class="nav-item">
                    <a href="" class="link-nav">Teachers</a>
                </li>
                <li class="nav-item">
                    <a href="" class="link-nav active">Add Teacher</a>
                </li>
            </ul>
        </div>
    </div>
</section>