<article class="page-top">
    <div class="container">
        <div class="page-header">
            <div class="page-header-left">
                <div class="input-div">
                    <input type="text" class="input" placeholder="Search For Something">
                    <div class="input-button">
                        <button>Search</button>
                    </div>
                </div>
            </div>
            <div class="page-header-right">
                <ul class="navbar nav-dropdown">
                    <li class="nav-item dropdown">
                        <span class="link-nav nav-dropdown-toggle">Pages</span>
                    </li>
                    <div class="dropdown-menu">
                        <a href="" class="item">Bla</a>
                        <a href="" class="item">Bla</a>
                        <a href="" class="item">Bla</a>
                        <a href="" class="item">Bla</a>
                    </div>
                    <li class="nav-item dropdown">
                        <span class="link-nav nav-dropdown-toggle">Pages</span>
                    </li>
                    <div class="dropdown-menu">
                        <a href="" class="item">Bla</a>
                        <a href="" class="item">Bla</a>
                        <a href="" class="item">Bla</a>
                        <a href="" class="item">Bla</a>
                    </div>
                </ul>
                <div class="notification">
                    <div class="dropdown">
                        <span class="link-nav icon">
                            <i class="fa fa-language"></i>
                        </span>
                        <div class="dropdown-menu menu-right menu-arrow">
                            <span class="item eng">English</span>
                            <span class="item ara">Arabic</span>
                        </div>
                    </div>
                    <div class="dropdown">
                        <span class="avatar-cont">
                            <span class="avatar" style="background-image: url('public/img/user-1.jpg');"></span>
                            Abdulbaasit
                        </span>
                        <div class="dropdown-menu menu-right menu-arrow">
                            <!-- Add Icons -->
                            <a href="" class="item">Profile</a>
                            <a href="" class="item">Settings</a>
                            <a href="" class="item">Email</a>
                            <a href="" class="item">Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>