<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
        <link href="/css/dashboard.css" rel="stylesheet">
	</head>
	 <body class="admin">
         <header>
             <div class="logo">
                 <img src="/img/user-2.jpg" alt="Al-Qalam Logo">
             </div>
             <nav class="navbar">
                 <ul>
                     <li><a href="">Dashboard</a></li>
                     <li><a href="">Library</a></li>
                     <li><a href="">Attendance</a></li>
                     <li><a href="">Mails</a></li>
                     <li><a href="">Staff</a></li>
                     <li><a href="">Events</a></li>
                     <li><a href="">Revenue</a></li>
                 </ul>
             </nav>
         </header>
         <main>
             <article class="welcome-msg">
                 <h2>Welcome back, Name Of The Person</h2>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure soluta commodi minus pariatur doloribus obcaecati porro architecto quia, quod suscipit nihil corrupti velit, quo atque molestias. Tempore architecto libero asperiores.</p>
             </article>
             <section class="stats">
                <article class="students">
                    <p>Students</p>
                    <p>74,643</p>
                </article>
                <article class="parents">
                    <p>Parents</p>
                    <p>74,643</p>
                </article>
                <article class="Teachers">
                    <p>Teachers</p>
                    <p>74,643</p>
                </article>
                <article class="revenue">
                    <p>Revenues</p>
                    <p>74,643, 000</p>
                </article>
             </section>
             <section class="events">
                 <article class="event-calendar">
                     <h1>Calender API</h1>
                 </article>
                 <article class="notice-board">
                     <h2>Students Notice Board</h2>
                     <small>January 23 2020</small>
                     <p>Study Hours</p>
                     <small>Go to your house</small>
                     <p>Get Together</p>
                     <!-- Plus Article -->
                 </article>
             </section>
             <section class="charts">
                 <article class="yearly">
                     <h2>Yearly Revenue</h2>
                     <small>2020</small>
                 </article>
                 <article class="monthly">
                     <h2>Monthly Revenue</h2>
                     <small>January 2020</small>
                 </article>
             </section>
         </main>
         <aside>
             <article class="profile-display">
                 <img src="/img/user-1.jpg" alt="User's Image">
                 <p>Role</p>
             </article>
             <aricle class="upcoming">
                 <h2>Upcoming Events</h2>
                 <div>
                    <h3>Board Meeting</h3>
                    <small>2 <sup>nd</sup> January 2020</small>
                 </div>
                 <div>
                    <h3>Board Meeting</h3>
                    <small>2 <sup>nd</sup> January 2020</small>
                 </div>
                 <div>
                    <h3>Get Together</h3>
                    <small>23 <sup>rd</sup> January 2020</small>
                 </div>
             </aricle>
         </aside>
    </body>
</html>

         
        