<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/leftsidebar.css">
        <link rel="stylesheet" href="/css/pagetop.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link href=/css/dashboard.css" rel="stylesheet">
	</head>
	 <body id="main-page" class="font">
         <%-include(./partials/navbar.ejs)%>
         <%-include(./partials/leftsidebar.ejs)%>
        <aside class="right-nav">
            <span class="close-btn">
                <i class="fa fa-close"></i>
            </span>
            <ul class="navbar nav-tabs">

            </ul>
        </aside>
        <main class="page">
            <%-include(./partials/pagetop.ejs)%>
            <section class="main-section">
                <article class="main-section-content">
                    <article class="content-card">
                        <div class="card">
                            <div class="new-items green">
                                5
                            </div>
                            <a href="" class="teachers">
                                <i class="fas fa-chalkboard-teacher"></i>
                                <span>Teachers</span>
                            </a>
                        </div>
                    </article>
                    <article class="content-card">
                        <div class="card">
                            <a href="" class="contact">
                                <i class="fa fa-address-book"></i>
                                <span>Contacts</span>
                            </a>
                        </div>
                    </article>
                    <article class="content-card">
                        <div class="card">
                            <div class="new-items orange">
                                8
                            </div>
                            <a href="" class="staff">
                                <i class="fas fa-user-tie"></i>
                                <span>Staff</span>
                            </a>
                        </div>
                    </article>
                    <article class="content-card">
                        <div class="card">
                            <a href="" class="file-manager">
                                <i class="fa fa-folder"></i>
                                <span>File Manager</span>
                            </a>
                        </div>
                    </article>
                    <article class="content-card">
                        <div class="card">
                            <a href="" class="library">
                                <i class="fa fa-book"></i>
                                <span>Library</span>
                            </a>
                        </div>
                    </article>
                    <article class="content-card">
                        <div class="card">
                            <a href="" class="contact">
                                <i class="fa fa-bullhorn"></i>
                                <span>Holidays</span>
                            </a>
                        </div>
                    </article>
                </article>
            </section>
            <article class="performance">
                <div class="performance-content">
                    <div class="performance-card">
                        <div class="card-header">
                            <h3>Best Students Overall</h3>
                            <div class="options">
                                <a href="" class="collapse">
                                    <i class="fas fa-chevron-up"></i>
                                </a>
                                <div class="item-action">
                                    <a href="" class="more dropdown">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <%-include('./partials/footer.ejs')%>
        </main>
    </body>
</html>
