<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
        <link href="/css/dashboard.css" rel="stylesheet">
	</head>
	 <body id="main-page">
        <header class="header">
            <div class="cont">
                <div class="left-header">
                    <a href="/" class="img-logo">
                        <img src="/img/logo.jpg" class="logo" alt="" srcset="">
                    </a>
                    <div class="dropdown">
                        <span class="icon link-nav">
                            <i class="main-icon menu-center"></i>
                        </span>
                        <a href="" class="icon link-nav">
                            <i class="main-icon inbox"></i>
                        </a>
                        <a href="" class="icon phone-hide link-nav">
                            <i class="main-icon app-folder"></i>
                        </a>
                        <a href="" class="icon phone-hide link-nav">
                            <i class="main-icon share"></i>
                        </a>
                        <span class="nav-link settingbar">
                            <i class="main-icon settings"></i>
                        </span>
                    </div>
                </div>
                <div class="right-header">
                    <span class="link-nav icon">
                        <i class="main-icon right-bar"></i>
                    </span>
                    <a href="" class="link-nav icon">
                        <i class="main-icon power"></i>
                    </a>
                </div>
            </div>
        </header>
        <aside class="right-nav">
            <span class="close-btn">
                <i class="fa fa-close"></i>
            </span>
            <ul class="navbar nav-tabs">

            </ul>
        </aside>
        <aside class="left-nav">
            <h5 class="school-name">Al-Qalam Academy</h5>
            <ul class="navbar nav-tabs">
                <li class="nav-item">
                    <span class="link-nav active">School</span>
                </li>
                <li class="nav-item">
                    <span class="link-nav">Administrator</span>
                </li>
            </ul>
            <article class="nav-tabs-content">
                <div id="class-menu" class="active fade"> <!--Check to add show class-->
                    <nav class="side-nav">
                        <ul class="list-menu">
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-black-tie"></i>
                                    <span>Teachers</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Staff</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-users"></i>
                                    <span>Students</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-users"></i>
                                    <span>Classes</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-graduation-cap"></i>
                                    <span>Subjects</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-library"></i>
                                    <span>Library</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-calendar"></i>
                                    <span>Events</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-folder"></i>
                                    <span>File Manger</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="admin-menu" class="fade"> <!--Check to add show class-->
                    <nav class="side-nav">
                        <ul class="list-menu">
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-credit-card"></i>
                                    <span>Payments</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-task-list-ul"></i>
                                    <span>Taskboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-bed"></i>
                                    <span>Hostel</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-truck"></i>
                                    <span>Transport</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>Attendance</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-gear"></i>
                                    <span>Settings</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </article>
        </aside>
    </body>
</html>

         
        