<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
        <link href="/css/dashboard.css" rel="stylesheet">
	</head>
	 <body id="main-page">
        <header class="header">
            <div class="cont">
                <div class="left-header">
                    <a href="/" class="img-logo">
                        <img src="/img/logo.jpg" class="logo" alt="" srcset="">
                    </a>
                    <div class="dropdown">
                        <span class="icon link-nav">
                            <i class="main-icon menu-center"></i>
                        </span>
                        <a href="" class="icon link-nav">
                            <i class="main-icon inbox"></i>
                        </a>
                        <a href="" class="icon phone-hide link-nav">
                            <i class="main-icon app-folder"></i>
                        </a>
                        <a href="" class="icon phone-hide link-nav">
                            <i class="main-icon share"></i>
                        </a>
                        <span class="nav-link settingbar">
                            <i class="main-icon settings"></i>
                        </span>
                    </div>
                </div>
                <div class="right-header">
                    <span class="link-nav icon">
                        <i class="main-icon right-bar"></i>
                    </span>
                    <a href="" class="link-nav icon">
                        <i class="main-icon power"></i>
                    </a>
                </div>
            </div>
        </header>
    </body>
</html>

         
        