<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title><!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Dashboard</title>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
                <link href="public/css/dashboard.css" rel="stylesheet">
            </head>
             <body id="main-page" class="font">
                <header class="header">
                    <div class="cont">
                        <div class="left-header">
                            <a href="/" class="img-logo">
                                <img src="public/img/logo.jpg" class="logo" alt="" srcset="">
                            </a>
                            <div class="dropdown">
                                <span class="icon link-nav">
                                    <i class="main-icon menu-center"></i>
                                </span>
                                <a href="" class="icon link-nav">
                                    <i class="main-icon inbox"></i>
                                </a>
                                <a href="" class="icon phone-hide link-nav">
                                    <i class="main-icon app-folder"></i>
                                </a>
                                <a href="" class="icon phone-hide link-nav">
                                    <i class="main-icon share"></i>
                                </a>
                                <span class="nav-link settingbar">
                                    <i class="main-icon fa fa-gear"></i>
                                </span>
                            </div>
                        </div>
                        <div class="right-header">
                            <span class="link-nav icon">
                                <i class="main-icon right-bar"></i>
                            </span>
                            <a href="" class="link-nav icon">
                                <i class="main-icon power"></i>
                            </a>
                        </div>
                    </div>
                </header>
                <aside class="right-nav">
                    <span class="close-btn">
                        <i class="fa fa-close"></i>
                    </span>
                    <ul class="navbar nav-tabs">
        
                    </ul>
                </aside>
                <aside class="left-nav">
                    <h5 class="school-name">Al-Qalam Academy</h5>
                    <ul class="navbar nav-tabs">
                        <li class="nav-item">
                            <span class="link-nav active">School</span>
                        </li>
                        <li class="nav-item">
                            <span class="link-nav">Administrator</span>
                        </li>
                    </ul>
                    <article class="nav-tabs-content">
                        <div id="class-menu" class="active fade show"> <!--Check to add show class-->
                            <nav class="side-nav">
                                <ul class="list-menu">
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-dashboard"></i>
                                            <span>  Dashboard</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-black-tie"></i>
                                            <span>  Teachers</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-circle-o"></i>
                                            <span>  Staff</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-users"></i>
                                            <span>  Students</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-users"></i>
                                            <span>  Classes</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-graduation-cap"></i>
                                            <span>  Subjects</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-library"></i>
                                            <span>  Library</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-calendar"></i>
                                            <span>  Events</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-folder"></i>
                                            <span>  File Manager</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div id="admin-menu" class="fade"> <!--Check to add show class-->
                            <nav class="side-nav">
                                <ul class="list-menu">
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-credit-card"></i>
                                            <span>  Payments</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-task-list-ul"></i>
                                            <span>  Taskboard</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-bed"></i>
                                            <span>  Hostel</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-truck"></i>
                                            <span>  Transport</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-calendar-check-o"></i>
                                            <span>  Attendance</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="">
                                            <i class="fa fa-gear"></i>
                                            <span>  Settings</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </article>
                </aside>
                <section class="page">
                    <article class="page-top">
                        <div class="cont">
                            <div class="page-header">
                                <div class="page-header-left">
                                    <div class="input-div">
                                        <input type="text" class="input" placeholder="Search For Something">
                                        <div class="input-button">
                                            <button>Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-header-right">
                                    <ul class="navbar nav-dropdown">
                                        <li class="nav-item dropdown">
                                            <span class="link-nav">Pages</span>
                                        </li>
                                        <div class="dropdown-menu">
                                            <a href="" class="item">Bla</a>
                                            <a href="" class="item">Bla</a>
                                            <a href="" class="item">Bla</a>
                                            <a href="" class="item">Bla</a>
                                        </div>
                                        <li class="nav-item dropdown">
                                            <span class="link-nav">Pages</span>
                                        </li>
                                        <div class="dropdown-menu">
                                            <a href="" class="item">Bla</a>
                                            <a href="" class="item">Bla</a>
                                            <a href="" class="item">Bla</a>
                                            <a href="" class="item">Bla</a>
                                        </div>
                                    </ul>
                                    <div class="notification">
                                        <div class="dropdown">
                                            <span class="link-nav icon">
                                                <i class="fa fa-language"></i>
                                            </span>
                                            <div class="dropdown-menu menu-right menu-arrow">
                                                <span class="item eng">English</span>
                                                <span class="item ara">Arabic</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </body>
        </html>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
        <link href="/css/dashboard.css" rel="stylesheet">
	</head>
	 <body id="main-page">
        <header class="header">
            <div class="cont">
                <div class="left-header">
                    <a href="/" class="img-logo">
                        <img src="/img/logo.jpg" class="logo" alt="" srcset="">
                    </a>
                    <div class="dropdown">
                        <span class="icon link-nav">
                            <i class="main-icon menu-center"></i>
                        </span>
                        <a href="" class="icon link-nav">
                            <i class="main-icon inbox"></i>
                        </a>
                        <a href="" class="icon phone-hide link-nav">
                            <i class="main-icon app-folder"></i>
                        </a>
                        <a href="" class="icon phone-hide link-nav">
                            <i class="main-icon share"></i>
                        </a>
                        <span class="nav-link settingbar">
                            <i class="main-icon settings"></i>
                        </span>
                    </div>
                </div>
                <div class="right-header">
                    <span class="link-nav icon">
                        <i class="main-icon right-bar"></i>
                    </span>
                    <a href="" class="link-nav icon">
                        <i class="main-icon power"></i>
                    </a>
                </div>
            </div>
        </header>
        <aside class="right-nav">
            <span class="close-btn">
                <i class="fa fa-close"></i>
            </span>
            <ul class="navbar nav-tabs">

            </ul>
        </aside>
        <aside class="left-nav">
            <h5 class="school-name">Al-Qalam Academy</h5>
            <ul class="navbar nav-tabs">
                <li class="nav-item">
                    <span class="link-nav active">School</span>
                </li>
                <li class="nav-item">
                    <span class="link-nav">Administrator</span>
                </li>
            </ul>
            <article class="nav-tabs-content">
                <div id="class-menu" class="active fade"> <!--Check to add show class-->
                    <nav class="side-nav">
                        <ul class="list-menu">
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-black-tie"></i>
                                    <span>Teachers</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Staff</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-users"></i>
                                    <span>Students</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-users"></i>
                                    <span>Classes</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-graduation-cap"></i>
                                    <span>Subjects</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-library"></i>
                                    <span>Library</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-calendar"></i>
                                    <span>Events</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-folder"></i>
                                    <span>File Manger</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="admin-menu" class="fade"> <!--Check to add show class-->
                    <nav class="side-nav">
                        <ul class="list-menu">
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-credit-card"></i>
                                    <span>Payments</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-task-list-ul"></i>
                                    <span>Taskboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-bed"></i>
                                    <span>Hostel</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-truck"></i>
                                    <span>Transport</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>Attendance</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    <i class="fa fa-gear"></i>
                                    <span>Settings</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </article>
        </aside>
    </body>
</html>
