.header {
    background: linear-gradient(145deg,#00b5ad,#17a2b8);
    border-bottom: 1px solid var(--gray);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: 100;
}
.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.left-header, .right-header {
    display: flex;
    align-items: center;
}
.img-logo {
    margin: 0 15px 0 0;
    display: inline-block;
    text-decoration: none;
    height: 3rem;
    width: 3rem;
    transition: opacity .3s;
}
.logo {
    border-radius: 1rem;
    padding: 0.625rem;
    display: block;
    width: 100%;
}
.dropdown {
    display: flex;
    align-items: center;
    position: relative;
}
.link-nav {
    color: hsla(0,0%,100%,.9);
    padding: 0.75rem;
    display: inline-flex;
    min-width: 2rem;
    cursor: pointer;
    align-items: center;
}
.icon i {
    cursor: pointer;
    color: var(--white) !important;
}
.phone-hide {
    display: none;
}


/* Media Queries */
/* For Tablets */
@media only screen and (min-width: 768px) {
    .header {
        flex-direction: column;
        width: 60px;
        height: 100vh;
        padding: 10px 0;
        z-index: 1040;
        top: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
    }
    .cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        width: 100%;
        max-width: 720px;
    }
    .dropdown {
        display: inline-block;
        position: relative;
    }
    .right-header, .left-header {
        flex-direction: column;
    }
    .img-logo {
        margin: 0;
    }
    .logo {
        padding: 0.3rem;
    }
    .header i {
        font-size: 1.2rem;
        z-index: 3000;
    }
    .header .cont {
        padding-top: 1.2rem;
    }
    .left-header .dropdown {
    padding: 1.5rem 0;
    }
    .phone-hide {
        display: inline-flex;
    }
}


/* Media Queries */
/* For Laptops and Higher */
@media only screen and (min-width: 992px) {
    .header {
        z-index: 5000;
    }
    .phone-hide {
        display: inline-flex;
    }
}