<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
	<% const getErrors = (errors, property) => { %>
		<% try { %>
		  <% return errors.mapped()[property].msg %>
		<% } catch(err) { %>
			<% return ''; %>
		  <% } %>
	<% } %>
	<div class="err-container">
		<% if(msg) { %>
			<p class="error-msg" style="color: red;"><%=msg%></p>
		<% } else { %>
			<p class="error-msg"></p>
	<% }%>
		
    <div class="container">
        <div class="form-cont">
            <!-- <a href="/auth/google" class="btn btn-ghost">
                <img src="./img/google.png" alt="">Log in with Google
            </a> -->
                     
            <form id="form" action="/auth/teachers/login" method="POST" class="form">

                <div class="form-control">
					<label for="admissionNumber">Admission Number</label>
					<input type="text" name="admissionNumber" id="admissionNumber" placeholder="Admission Number e.g 009 or 023">
					<% if(errors) { %>
						<small style="visibility: visible; color: red;"><em><%= getErrors(errors, 'admissionNumber') %></em></small>
					<% } else { %>
						<small style="visibility: hidden; color: red;"><em></em></small>
					<% } %>	
                </div>

                <div class="form-control">
                    <label for="password">Password</label>
					<input type="password" id="password" name="password" placeholder="Password">
					<% if(errors) { %>
						<small style="visibility: visible; color: red;"><em><%= getErrors(errors, 'password') %></em></small>
					<% } else { %>
						<small style="visibility: hidden; color: red;"><em></em></small>
					<% } %>	
                </div>

                <div class="checkbox-container">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>

                    <a href="#">Forgot Password</a>
                </div>

                <button class="btn">Log In</button>

                <small>Don't have an account? <a href="/auth/student/signup">Sign up</a></small>
            </form>
        </div>

        <div class="features">
            <div class="feature">
                <i class="fas fa-code"></i>
                <h3>Development</h3>
                <p>A modern and clean design system for developing fast and powerful
                    web interfaces.</p>
            </div>
            <div class="feature">
                <i class="fas fa-gift"></i>
                <h3>Features</h3>
                <p>A modern and clean design system for developing fast and powerful
                    web interfaces.</p>
            </div>
            <div class="feature">
                <i class="fas fa-edit"></i>
                <h3>Updates</h3>
                <p>A modern and clean design system for developing fast and powerful
                    web interfaces.</p>
            </div>
        </div>
    </div>
</body>
</html>