<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/form.css">
	<title>Students - Signup</title>
</head>
<body>

	<% const getErrors = (errors, property) => { %>
		<% try { %>
		  <% return errors.mapped()[property].msg %>
		<% } catch(err) { %>
			<% return ''; %>
		  <% } %>
	<% } %>

	<div class="container">
		<form  id="form" action="/auth/student/signup" method="POST" class="form">
			<h2>Register With Us</h2>
			<div class="form-control">
				<label for="firstname">First Name</label>
				<input type="text" name="firstName" id="firstname" placeholder="First Name">
				<small><em>Error Message</em></small>
			</div>
			<div class="form-control">
				<label for="middlename">Middle Name</label>
				<input type="text" name="middleName" id="middlename" placeholder="Middle Name">
				<small><em>Error Message</em></small>
			</div>
			<div class="form-control">
				<label for="lastname">Last Name</label>
				<input type="text" name="lastName" id="lastname" placeholder="Last Name">
				<small><em>Error Message</em></small>
			</div>
			<div class="form-control">
				<label for="admissionnumber">Admission Number</label>
				<input type="text" name="admissionNumber" id="admissionNumber" placeholder="Admission Number">
				<% if(errors) { %>
					<small style="visibility: visible; color: red;"><em><%= getErrors(errors, 'admissionNumber') %></em></small>
				<% } %>
			</div>
			<div class="form-control">
				<label for="admissionnumber">Date Of Birth</label>
				<input type="date" name="dob" id="dob" placeholder="Date Of Birth">
				<% if(errors) { %>
					<small style="visibility: visible; color: red;"><em><%= getErrors(errors, 'dob') %></em></small>
				<% } %>
			</div>
			<div class="form-control">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" placeholder="Password">
				<% if(errors) { %>
					<small style="visibility: visible; color: red;"><em><%= getErrors(errors, 'password') %></em></small>
				<% } %>
			</div>
			<div class="form-control">
				<label for="confirmPassword">Confirm Password</label>
				<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
				<% if(errors) { %>
					<small style="visibility: visible; color: red;"><em><%= getErrors(errors, 'confirmPassword') %></em></small>
				<% } %>
			</div>
			<div class="form-control">
				<label for="gender">Gender</label>
				<select name="gender" id="gender">
					<option value="Male">Male</option>
					<option value="Female">Female</option>
					<option value="Binary">Binary</option>
				</select>
				<small><em>Error Message</em></small>
			</div>
			<div class="form-control">
				<label for="classname">Class</label>
				<select name="className" id="classname">
					<option value="Primary 1">Primary 1</option>
					<option value="Primary 2">Primary 2</option>
					<option value="Primary 3">Primary 3</option>
					<option value="Primary 4">Primary 4</option>
					<option value="Primary 5">Primary 5</option>
					<option value="JSS 1">JSS 1</option>
					<option value="JSS 2">JSS 2</option>
					<option value="JSS 3">JSS 3</option>
					<option value="SS 1">SS 1</option>
					<option value="SS 2">SS 2</option>
					<option value="SS 1">SS 3</option>
				</select>
				<small><em>Error Message</em></small>
			</div>
			<button>Submit</button>
		</form>
	</div>
	<script type="text/javascript" src="/js/form.js"></script>
</body>
</html>